<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.AdminMapper" >
	
	<!-- 通用sql -->
	<sql id="blog_column">
		b.userId,
		b.title,
		b.description,
		b.imageName,
		b.image,
		b.classifyId,
		b.label,
		b.hit,
		b.comment,
		b.createTime,
		b.updateTime,
		b.status,
		b.isDelete,
		b.isTop
	</sql>
	
	<!-- 根据用户 id 查询 -->
	<select id="getUserById" resultType="User" parameterType="java.lang.Integer">
		select
			id,
			name,
			password
		from
			user
		where id = #{id}
	</select>
	
	
	<!-- 获取博客详情页（编辑，只需要markdown字段） -->
	<select id="getBlogDetail" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			b.content_md,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.id = #{id}
		and
			b.isDelete = 0
	</select>
	
	
	<!-- 分页查询所有博客（发布和未发布） -->
	<select id="getBlog" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			isDelete = 0
		order by
 			id desc
	</select>
	
	
	<!-- 查询所有博客总数（发布和未发布） -->
	<select id="getBlogCount" resultType="int">
		select
			count(*)
		from
			blog
		where
			isDelete = 0
	</select>
	
	<!-- 修改用户信息 -->
	<update id="updateUser"  parameterType="User">
		update
			user
		<trim prefix="SET" suffixOverrides=",">
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(name)">name=#{name},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(password)">password=#{password},</if>
		</trim>
		where
			id = #{id}
	</update>
	
	<!-- 上传音乐 -->
	<insert id="addMusic" useGeneratedKeys="true" keyProperty="id" parameterType="Music">  
	    insert into music(
	    	title,
	    	size
	    )
	    values(
	    	#{title},
	    	#{size}
	    )
	</insert>
	
	<!-- 删除音乐 -->
	<delete id="deleteMusic">
        delete
        from
        	music
        where
        	id = #{id}
    </delete>
    
    <!-- 新增 -->
	<insert id="addBlog" useGeneratedKeys="true" keyProperty="id" parameterType="Blog">  
	    insert into blog(
	    	userId,
	    	title,
			content_md,
			content_hm,
			description,
			imageName,
			image,
			classifyId,
			label,
			hit,
			comment,
			createTime,
			updateTime,
			status,
			isDelete,
			isTop
	    )
	    values(
	    	#{userId},
	    	#{title},
			#{content_md},
			#{content_hm},
			#{description},
			#{imageName},
			#{image},
			#{classifyId},
			#{label},
			#{hit},
			#{comment},
			#{createTime},
			#{updateTime},
			#{status},
			#{isDelete},
			#{isTop}
	    )
	</insert>
	
	<!-- 删除博客封面 -->
	<update id="deleteBlogCover">
		update
			blog
		set
			imageName = "",
			image = ""
		where
			id = #{id}
	</update>
	
	<!-- 修改博客 -->
	<update id="updateBlog"  parameterType="Blog">
		update
			blog
		<trim prefix="SET" suffixOverrides=",">
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(userId)">userId=#{userId},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(title)">title=#{title},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(content_md)">content_md=#{content_md},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(content_hm)">content_hm=#{content_hm},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(description)">description=#{description},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(imageName)">imageName=#{imageName},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(image)">image=#{image},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(classifyId)">classifyId=#{classifyId},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(label)">label=#{label},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(hit)">hit=#{hit},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(comment)">comment=#{comment},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(updateTime)">updateTime=#{updateTime},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(status)">status=#{status},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(isDelete)">isDelete=#{isDelete},</if>
			<if test="@com.krry.util.TmStringUtils@isNotEmpty(isTop)">isTop=#{isTop},</if>
		</trim>
		where
			id = #{id}
	</update>
	
</mapper>


