<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.BlogMapper" >
	
	<!-- 通用sql -->
	<sql id="blog_column">
		b.userId,
		b.title,
		b.description,
		b.imageName,
		b.image,
		b.classifyId,
		b.label,
		b.hit,
		b.comment,
		b.createTime,
		b.updateTime,
		b.status,
		b.isDelete,
		b.isTop
	</sql>
	
	<!-- 查询已发布的博客 -->
	<!-- 注意这里的 resultType 返回值类型是集合内存储数据的类型Blog，不是 'list' -->
	<select id="getBlog" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.status = 1
		and
			b.isDelete = 0
		order by
			b.isTop desc,
 			b.id desc
	</select>
	
	<!-- 查询所有已发布的博客总数 -->
	<select id="getBlogCount" resultType="int">
		select
			count(*)
		from
			blog
		where
			status = 1
		and
			isDelete = 0
	</select>
	
	<!-- 获取博客详情页（只需要html字段） -->
	<select id="getBlogDetail" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			b.content_hm,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.id = #{id}
		and
			b.status = 1
		and
			b.isDelete = 0
	</select>
	
	<!-- 获取博客评论数 -->
	<select id="getBlogComments" resultType="int">
		select
			comment
		from
			blog
		where
			id = #{id}
	</select>
	
	<!-- 查询博客的分类 -->
	<select id="getClassify" resultType="Classify">
		select
			id,
			name
		from
			classify
	</select>
	
	<!-- 查询分类博客 -->
	<select id="getBlogByClassifyId" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.classifyId = #{id}
		and
			b.status = 1
		and
			b.isDelete = 0
		order by
 			b.id desc
	</select>
	
	<!-- 查询已发布的分类博客总数 -->
	<select id="getBlogClassifyCount" resultType="int">
		select
			count(*)
		from
			blog
		where
			classifyId = #{id}
		and
			status = 1
		and
			isDelete = 0
	</select>
	
	<!-- 查询分类博客的名称 -->
	<select id="getBlogClassifyName" resultType="String">
		select
			name
		from
			classify
		where
			id = #{id}
	</select>

	<!-- 查询所有已发布博客 -->
	<select id="getAllBlog" resultType="Blog">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.status = 1
		and
			b.isDelete = 0
		order by
			b.isTop desc,
 			b.id desc
	</select>
	
	<!-- 查询汇总数据 -->
	<select id="getSummarizedData" resultType="HashMap">
		select
			count(*) as blogSum,
			SUM(hit) as hitSum,
			SUM(comment) as commentSum
		from
			blog
	</select>
	
</mapper>
